.products-list-wrapper table {
  position: relative;
  padding: 10rem;
}

.products-list-wrapper table thead th {
  background: #47709c;
  color: white;
}

.products-list-wrapper table {
  text-align: center;
}

.products-list-wrapper select.form-select {
  width: inherit;
  height: 100%;
}
