.home-wrapper {
  font-size: 0.875rem;
}

.light-mode .sidebar-wrapper .sidebar-header,
.light-mode .sidebar-wrapper .sidebar-search,
.light-mode .sidebar-wrapper .sidebar-menu {
  border-top: 1px solid #3a3f48;
}

.light-mode .sidebar-wrapper .sidebar-search input.search-menu,
.light-mode .sidebar-wrapper .sidebar-search .input-group-text {
  border-color: transparent;
  box-shadow: none;
}

.light-mode .sidebar-wrapper .sidebar-header .user-info .user-role,
.light-mode .sidebar-wrapper .sidebar-header .user-info .user-status,
.light-mode .sidebar-wrapper .sidebar-search input.search-menu,
.light-mode .sidebar-wrapper .sidebar-search .input-group-text,
.light-mode .sidebar-wrapper .sidebar-brand > a,
.light-mode .sidebar-wrapper .sidebar-menu ul li a,
.light-mode .sidebar-footer > a {
  color: #818896;
}

.light-mode .sidebar-wrapper .sidebar-menu ul li:hover > a,
.light-mode .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
.light-mode .sidebar-wrapper .sidebar-header .user-info,
.light-mode .sidebar-wrapper .sidebar-brand > a:hover,
.light-mode .sidebar-footer > a:hover i {
  color: #b8bfce;
}

.light-mode.toggled #close-sidebar {
  color: #bdbdbd;
}

.light-mode.toggled #close-sidebar:hover,
.light-mode .navbar a,
.light-mode .navbar {
  color: #ffffff;
}

.light-mode .sidebar-wrapper ul li:hover a i,
.light-mode
  .sidebar-wrapper
  .sidebar-dropdown
  .sidebar-submenu
  li
  a:hover:before,
.light-mode .sidebar-wrapper .sidebar-search input.search-menu:focus + span,
.light-mode .sidebar-wrapper .sidebar-menu .sidebar a.active i,
.light-mode
  .sidebar-wrapper
  .sidebar-menu
  .sidebar-dropdown
  a[aria-expanded="true"]
  i,
.light-mode
  .sidebar-wrapper
  .sidebar-menu
  .sidebar-dropdown
  div.collapse.show
  .sidebar-submenu
  ul
  li
  a.active::before {
  color: #16c7ff;
  text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
}

.light-mode .sidebar-wrapper .sidebar-menu ul li a i,
.light-mode .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.light-mode .sidebar-wrapper .sidebar-search input.search-menu,
.light-mode .sidebar-wrapper .sidebar-search .input-group-text {
  background: #3a3f48;
}

.light-mode .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #6c7b88;
}

.light-mode .sidebar-footer {
  background: #3a3f48;
  /* box-shadow: 0px -1px 5px #282c3379; */
  border-top: 1px solid #464a52;
}

.light-mode .sidebar-footer > a:first-child {
  border-left: none;
}

.light-mode .sidebar-footer > a:last-child {
  border-right: none;
}
